@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}
*{
    font-family: 'Montserrat', sans-serif;
}
.header {
    height: 400px;
    background-image: url('zdjecia/tlo_naglowek.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.header-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

.navbar {
    display: flex;
    background-color: #333333;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar a {
    color: white;
    padding: 25px 30px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: gainsboro;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade {
    animation: fadeIn 1.5s ease-out;
}
.h2{
    font-size: 30px;
    text-align: center;
}
.kontener-flex1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    padding: 20px;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

#mapa {
    flex: 1;
    max-width: 50%;
}

#mapa img {
    width: 100%;
    height: auto;
    display: block;
}

.paragraf1 {
    flex: 1;
    font-size: 23px;
    font-style: italic;
    line-height: 1.6;
    margin: 0;
}

.statystyki-box {
    margin-top: 20px;
}


.karta-statystyk {
    font-size: 20px;
    background: #e2e2e2;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.status-krytyczny {
    border-left: 5px solid red;
}
.status-krytyczno-ostrzegawczy{
    border-left: 5px solid yellow;
}

.status-ostrzegawczy {
    border-left: 5px solid green;
}

.karta-statystyk:hover {
    background-color: #d0d0d0;
    transform: translateX(5px);
}

.kontener-flex2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.flex-itemik {
    flex: 1;
    text-align: center;
}

.image-style {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin-bottom: 15px;
}

.opis {
    font-style: italic;
    font-size: 20px;
    margin-top: 5px;
    color: black;
}


.kontakt-flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}


.formularz {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-sizing: border-box;
}


.mapa-kontener {
    flex: 1;
    display: flex;
}

.mapa-kontener iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#blad {
    color: red;
    font-weight: bold;
    min-height: 20px;
    margin: 10px 0;
    font-size: 14px;
    display: block;
}


.btn-wyslij {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-wyslij:hover {
    background-color: #555;
    transform: scale(1.01);
}


.footer p {
    font-weight: bold;
    margin: 10px 0;
    font-size: 14px;
}

.tabela-kontener {
    margin: 20px auto;
    width: 90%;
}

.moja-tabela {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.moja-tabela th, .moja-tabela td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

.moja-tabela th {
    background-color: #f2f2f2;
}


.moja-tabela tr:nth-child(even) {
    background-color: #f9f9f9;
}

.moja-tabela tr:hover {
    background-color: #eeeeee;
}

.kontener-gatunki {
    display: flex;
    background-color:#dddddd;
    justify-content: space-between;
    gap: 15px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}


.karta-gatunek {
    flex: 1;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.karta-gatunek img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.karta-gatunek h3 {
    margin: 10px 0;
    font-size: 18px;
}

.karta-gatunek p {
    font-size: 14px;
    font-style: italic;
    color: black;
    line-height: 1.4;
}

