@media screen and (max-width: 1000px) {
    body {
        margin: 0;
        padding: 0;
    }

    .header {
        height: 250px;
        background-attachment: scroll;
    }

    .header-content {
        padding: 10px;
    }

    .header h1 {
        font-size: 22px;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar a {
        width: 100%;
        padding: 15px;
        font-size: 16px;
        border-bottom: 1px solid #444;
        box-sizing: border-box;
    }

    .side {
        flex: 100%;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .h2 {
        font-size: 22px;
    }

    .kontener-flex1 {
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }

    #mapa {
        max-width: 100%;
        width: 100%;
        flex: none;
    }

    #mapa img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .paragraf1 {
        flex: none;
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .karta-statystyk {
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
    }

    .kontener-flex2 {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .flex-itemik {
        width: 100%;
        margin-bottom: 30px;
    }

    .image-style {
        height: 300px;
    }

    .opis {
        font-size: 20px;
        padding: 0 10px;
    }
}
.footer {
    padding: 15px;
}
/*Inne podstrony wyświetlają się poprawnie w trybie mobilnym*/
